Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/compile
build-aux/install-sh
build-aux/mdate-sh
build-aux/missing
build-aux/texinfo.tex
config.log
config.status
configure
doc/.dirstamp
doc/stamp-vti
doc/version.texi
pre-inst-env

# Temp files
*~
\#*
.\#*
*.tar
*.gz
*.trs
*.log

# Documents
*.info
*.html
*.dvi
*.pdf
*.ps
*.eps

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
