Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/compile
build-aux/install-sh
build-aux/mdate-sh
build-aux/missing
build-aux/texinfo.tex
build-aux/ar-lib
build-aux/config.sub
build-aux/depcomp
build-aux/ltmain.sh
config.log
config.status
configure
doc/.dirstamp
doc/stamp-vti
doc/version.texi
pre-inst-env
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
src/.dirstamp
src/config.h
src/stamp-h1
tools/gdb-guile
tools/gdb-test
tools/run-guile
tools/run-test
tools/uninstalled-env
tools/uninstalled-test-env

# Temp files
*~
\#*
.\#*
*.tar
*.gz
*.trs
*.log
*.png

# Documents
*.info
*.html
*.dvi
*.pdf
*.ps
*.eps
docs/.dirstamp
docs/stamp-vti
docs/version.texi

# Object files
*.o
*.lo
*.go
cache
src/.deps/
src/.dirstamp

# Libraries
*.lib
*.a
*.la
.libs/

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
libtool

# Executables
*.exe
*.out
*.app
