Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/compile
build-aux/install-sh
build-aux/mdate-sh
build-aux/missing
build-aux/texinfo.tex
build-aux/ar-lib
build-aux/config.sub
build-aux/depcomp
build-aux/ltmain.sh
config.log
config.status
configure
doc/.dirstamp
doc/stamp-vti
doc/version.texi
pre-inst-env
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

# Temp files
*~
\#*
.\#*
*.tar
*.gz
*.trs
*.log

# Documents
*.info
*.html
*.dvi
*.pdf
*.ps
*.eps

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
